<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Redirecting {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <meta http-equiv="refresh" content="0;url=http://ojasper.nl{ page.url }">
        
        <script>
          window.location = "http://ojasper.nl{{ page.url }}"
        </script>
    </head>
    <body>
      
        <div class="site">
          Trying to redirect to
          <a href="http://ojasper.nl{{ page.url }}">ojasper.nl{{ page.url }}</a>
          
          
    </body>
</html>
